.one-line-fade-text {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.one-line-fade-text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px; /* Adjust as needed */
  background: linear-gradient(to right, #ffffff25, #fff 90%);
}
